{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'datatable/jquery.dataTables.css' %}">
<link rel="stylesheet" href="{% static 'fontawesome-free-5.11.2-web/css/all.css' %}">
<link rel="stylesheet" href="{% static 'lightbox/dist/css/lightbox.css' %}">
<link rel="stylesheet" href="{% static 'UI/jquery-ui.css' %}">
<link rel="stylesheet" href="{% static 'jquery-timepicker-1.3.5/jquery.timepicker.css' %}">
<!-- Custom styles for this template -->
<link href="{% static 'mycss/simple-sidebar.css' %}" rel="stylesheet">
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<style>
    .error{
        color: red;
    }
</style>


