<!doctype html>
<html lang="en">

<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/png"
    <title>Flixr</title>
    <style>
        .main_btn {
            color: white !important;
        }

        .main_btn:hover {
            color: gray !important;
        }
    </style>
</head>

<body>

<!--================Header Menu Area =================-->
{% include 'clientNavbar.html' %}
<!--================Header Menu Area =================-->

<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>We Have What You Want!!!</h2>
                <div class="page_link">
                    <a href="/">Home</a>
                    <a href="allmovie">Movies</a>
                    <a href="#">Merchandise</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Single Product Area =================-->
<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
                <div class="s_product_img">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">
                                <img src="{% static 'media/' %}{{ context.photo1 }}" style="width: 63px;height: 60px"
                                     alt="">
                            </li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1">
                                <img src="{% static 'media/' %}{{ context.photo2 }}" style="width: 63px;height: 60px"
                                     alt="">
                            </li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2">
                                <img src="{% static 'media/' %}{{ context.photo3 }}" style="width: 63px;height: 60px"
                                     alt="">
                            </li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="{% static 'media/' %}{{ context.photo1 }}"
                                     alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="{% static 'media/' %}{{ context.photo2 }}"
                                     alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="{% static 'media/' %}{{ context.photo3 }}"
                                     alt="Third slide">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <div class="display-4 font-weight-bolder text-white">{{ context.productname }}</div>
                    <h2>&#8377; {{ context.price }}</h2>
                {% if context.stock > 0 %}
                <p class="text-success"><i class="fa fa-check-circle"></i> In Stock</p>
                    {% else %}
                <p class="text-danger"><i class="fa fa-times-circle"></i> Out of Stock</p>
                {% endif %}
                    <h4 class="text-uppercase">Description</h4>
                    <p class="small">{{ context.productdescp }}</p>
                    <div class="product_count">
                        <label for="qty">Quantity:</label>
                        {% if value > 0 %}
                            <input type="text" name="qty" id="sst" maxlength="12" title="Quantity:"
                                   class="input-text qty" value="{{ value }}">
                        {% else %}
                            <input type="text" name="qty" id="sst" maxlength="12" title="Quantity:"
                                   class="input-text qty" value="1">
                        {% endif %}

                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst < 10) result.value++;return false;"
                                class="increase items-count" type="button">
                            <i class="lnr lnr-chevron-up"></i>
                        </button>
                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                                class="reduced items-count" type="button">
                            <i class="lnr lnr-chevron-down"></i>
                        </button>
                    </div>
                    <div class="card_area">
                        <a class="main_btn" onclick="sessionProduct({{ context.productid }})">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'clientFooter.html' %}
</body>

</html>