<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DashBoard</title>
    {% include 'adminHeader.html' %}
    <script>
        function addadmin() {
            $('#addadmin').slideToggle();
        }
        function addshowtiming() {
            $('#addshowtimingid').slideToggle();
        }
    </script>
</head>
<body>
{% include 'adminNavbardashboard.html' %}
<div class="display-4 font-weight-bold mt-3">Shows<span class="float-right"><button type="button"
                                                                                    class="btn btn-info btn-lg"
                                                                                    onclick="addadmin()">Add New</button></span>
</div>
<div id="addadmin" style="display: none">
    <hr class="bg-danger">
    <form action="addshow" method="post" id="myform" enctype="multipart/form-data" class="validate">
        {% csrf_token %}
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="showdate">Show Date</label>
                <input type="text" class="form-control Date" name="showdate" id="showdate">
            </div>

            <div class="form-group col-sm-6">
                <label for="movie">Movie</label>
                <select name="movie" id="movie" class="form-control">
                    {% for j in movie %}
                        <option value="{{ j.movieid }}">{{ j.moviename }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group text-center">
            <input type="submit" value="SUBMIT" class="btn w-50 btn-primary p-3 m-2 badge-pill"
                   style="background: linear-gradient(45deg,#0000ff,transparent)">
        </div>
    </form>
</div>
<hr class="bg-danger">
<table class="table table-bordered table-hover myTable">
    <thead class="thead-dark">
    <tr>
        <th>ID</th>
        <th>SHOW DATE</th>
        <th>MOVIE</th>
        <th>SHOW TIME</th>
        <th>ACTION</th>
        {#            <th>DELETE</th>#}
    </tr>
    </thead>
    <tbody>
    {% if ar %}
        {% for row in ar %}
            <tr>
                <td>{{ row.showid }}</td>
                <td>{{ row.showdate }}</td>

                <td><a href="static/media/{{ row.coverphoto }}" data-lightbox="image-1"
                       data-title="{{ row.moviename }}"><img
                        src="{% static '/media/' %}{{ row.coverphoto }}" width="100" height="100" class="img-fluid">
                </a>
                    <div>{{ row.moviename }}</div>
                </td>
                <td class="text-center" style="transform: translateY(30%)">
                    <button class="btn btn-primary" onclick="showtimingsmodel({{ row.showid }})">Show Timings</button>
                </td>
                <td class="text-center" style="transform: translateY(30%)">
                    <a onclick="deleteshow('{{ row.showid }}','{{ row.moviename }}')"><i
                            class="fa fa-2x fa-trash text-danger"></i></a>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <td class="display-4 text-center font-weight-bolder" colspan="9">Nothing to Show!</td>
    {% endif %}
    </tbody>
</table>
<div class="modal" id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Show Timings</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <button type="button" class="btn btn-info" onclick="addshowtiming()">Add New</button>
                <hr class="bg-info">
                <div id="addshowtimingid" style="display: none">
                    <form id="addshowtiming" method="post">
                        {% csrf_token %}
                        <input type="hidden" id="showid" name="showid">
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label for="audi">Auditorium</label>
                                <select name="audi" id="audi" required class="form-control">
                                    <option value="Audi-1">Audi-1</option>
                                    <option value="Audi-2">Audi-2</option>
                                    <option value="Audi-3">Audi-3</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="price">Price &#8377;</label>
                                <input type="text" required name="price" id="price" class="form-control">
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="Showtime">Time</label>
                                <input type="time" required name="time" id="time" class="form-control">
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <button type="button" onclick="addshowtimingsubmit()" class="btn btn-primary badge-pill w-50">Submit</button>
                        </div>
                    </form>
                    <hr class="bg-danger">
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>AUDITORIUM</th>
                        <th>PRICE &#8377;</th>
                        <th>SHOW DATE</th>
                        <th>SHOW TIME</th>
                        <th>ACTION</th>
                    </tr>
                    </thead>
                    <tbody id="tdata">

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
{% if message %}
    <script>
        alert('{{ message }}')
        window.location.href = "show"
    </script>
{% endif %}
{% include 'adminNavbarfoot.html' %}
<script src="{% static 'myjs/adminjs.js' %}"></script>
</body>
</html>
